footer {
  display: block;
  height: auto;
  min-height: 50px;
  width: 100%;
  color: @font-light-color;
  font-size: 0.9em;
  margin-top: 50px;

    h2 {
        color: @font-light-color !important;
    }
  .fluid-footer {
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    .footer-center {
      margin: 0 auto;
      text-align: center;

      .small-text { display: block; }

      .footer-sponsors {
        display: table;
        margin: 0 auto;

        a {
          display: table-cell;
          vertical-align: middle;
        }
        img {
          display: table-cell;
          vertical-align: middle;
          margin: 10px;
          max-width: 130px;
          max-height: 100px;
        }
      } // End .footer-sponsors
    } // End .footer-center

  }

}
