.navigation-menu {
    .cursor-pointer;
    .ease-500ms;
    display: block;
    font-size: 1.5em;
    text-align: center;
    width: auto;
    vertical-align: middle;
    color: @font-light-color;
    .right;

&.hidden {
    visibility: visible !important;
}
  #menu-main-menu {
    list-style: none;
    color: #ede9e9;
    padding: 0;
    display: inline;
  }

  .menu-item {
    display: inline-block;
    font-family: "Tungsten A","Tungsten B",Arial,Helvetica,sans-serif !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    margin-left: -5px;

    min-height: @navbar-height!important;
      max-height: @navbar-height!important;
      line-height: @navbar-height;

      -webkit-transition: all 0.5s ease !important;
      transition: all 0.5s ease !important;
    a {
        width: 120px;
        color: @font-light-color !important;
        &:hover, &:focus {
            -webkit-transition: background 0.2s linear, opacity 0.2s linear;
            transition: background 0.2s linear, opacity 0.2s linear;
        }
    }

  }



}

.minimized-navbar {
    .menu-item {
        min-height: @navbar-min-height !important;
     max-height: @navbar-min-height !important;
     line-height: @navbar-min-height;

    }
}
