/**
 * Container for the navigation bar and menu
 */
#nav-container {
    font-family: @sans-serif !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    // Default values for #nav-bar (fully expanded)
    #nav-bar {
        min-height: @navbar-height;
        max-height: @navbar-height;
        height: @navbar-height;
        width: 100%;
        position: inherit;
        z-index: 910 !important;

        overflow: hidden;

        font-family: inherit;
        letter-spacing: 0.05em;
        .uppercase;

        // Fluid navigation container
        .fluid-nav {
            width: 100%;
            margin: 0 auto;

            // Logo and name (brand) on the left side
            .navbar-brand {
                height: @navbar-height;

                a {
                    color: inherit !important;
                    transition: inherit;

                    transition: background 0.3s linear, color: 0.3s linear;
                }

                // Page logo
                img {
                    .absolute;
                    left: 0; top: 0;
                    margin-top: 5px;
                    height: 70px;
                    pointer-events: none;
                    width: auto;
                    display: inline-block;

                    @media @m540pxWidth {
                        position: static;
                    }
                }

                // Container element for the logo and website name
                .navbar-text {
                    display: inline-block;
                    overflow: hidden;
                    font-weight: 500;
                    font-size: 2.1em !important;

                    &:hover, &:focus {
                        transition: inherit;
                    }

                    // Text elements
                    .navbar-title-top, .navbar-title-top-short,
                    .navbar-title-bottom, .navbar-title-bottom-short {
                        display: none;
                        height: 40px;
                        width: auto;
                        .uppercase;
                        text-align: left;
                        margin-left: 100px; // Spacing for the image
                        transition: none !important;
                    }

                    // Top line text
                    .navbar-title-top, .navbar-title-top-short {
                        line-height: 55px;
                        vertical-align: text-bottom;
                    }

                    // Bottom line text
                    .navbar-title-bottom, .navbar-title-bottom-short {
                        line-height: 35px;
                        vertical-align: text-top;
                    }

                    // By default show the top and bottom
                    .navbar-title-top, .navbar-title-bottom {
                        display: block;
                    }

                    // Show short line text when needed
                    @media @m680pxWidth {
                        .navbar-title-top, .navbar-title-bottom {
                            display: none !important;
                        }
                        .navbar-title-top-short, .navbar-title-bottom-short {
                            display: block;
                        }
                    }

                    // Hide all text when needed
                    @media @m540pxWidth {
                        .navbar-title-top, .navbar-title-top-short,
                        .navbar-title-bottom, .navbar-title-bottom-short {
                            display: none !important;
                        }
                    }
                } // End .navbar-text
            } // End .navbar-brand


            // Menu button and social media on the right side
            .navbar-nav {
                line-height: @navbar-min-height;

                // Common styles between social and menu button
                .navbar-social, .navbar-menu-btn {
                    vertical-align: middle;
                    display: inline-block;
                    .cursor-pointer;
                    transition: background 0.3s linear;
                }

                // Social media icon
                .navbar-social {
                    a {
                        padding: 0 15px;
                        display: inline-block;
                        height: inherit;
                        transition: inherit;

                        @media @m680pxWidth {
                            padding: 0 5px;
                        }
                    }
                } // End .navbar-social


                // Menu button
                .navbar-menu-btn {
                    font-size: 1.65em;
                    text-align: center;
                    width: auto;
                    right: 0;
                    z-index: 910; // Above everything else ? ( I really don't think I'm using z-index correctly )
                    padding: 0 36px;
                    color: @font-light-color;

                    // Set text
                    &::before {
                        content: '\2261'; // Hamburger icon
                        margin-right: 10px;
                    }

                    // Menu label (turns to 'CLOSE' when menu is open)
                    &::after {
                        content: 'MENU';
                    }

                    // Change padding when screen is smaller
                    @media @m680pxWidth {
                        padding: 0 15px;
                    }
                } // End .navbar-menu-btn

                // Set height for both social media icons and the nav button
                .navbar-menu-btn, .navbar-social a {
                    min-height: @navbar-height;
                    max-height: @navbar-height;
                    line-height: @navbar-height;
                    height: @navbar-height;
                }
            } // End .navbar-nav

        } // End .fluid-nav
    } // End #nav-bar

} // End .nav-container


// Class to apply to the navbar when the menu is open
.minimized-navbar {
    min-height: @navbar-min-height !important;
    max-height: @navbar-min-height !important;
    height: @navbar-min-height !important;

    // Fix to the top
    position: fixed !important;
    top: 0;

    // Adjust the text shown, and the size of the image
    .navbar-brand {
        height: @navbar-min-height !important;

        img {
            height: 35px !important;
        }

        // Common styles for all the text
        .navbar-title-top, .navbar-title-top-short,
        .navbar-title-bottom, .navbar-title-bottom-short {
            display: none;
            height: @navbar-min-height !important;
            line-height: @navbar-min-height !important;
            vertical-align: middle;
            margin-left: 0px !important; // Will end up just applying to the bottom and bottom-short
        }

        // Common styles for the top (left)
        .navbar-title-top, .navbar-title-top-short {
            margin-left: 55px !important; // Moves text to the right of the image
        }

        // Assume the top and bottom can fit first
        .navbar-title-top, .navbar-title-bottom {
            display: inline-block !important;
        }

        // Show short text when screen is smaller
        @media @m730pxWidth {
            .navbar-title-top, .navbar-title-bottom {
                display: none !important;
            }
            .navbar-title-top-short, .navbar-title-bottom-short {
                display: inline-block !important;
            }
        }

        // Hide all text when screen is even smaller
        @media @m540pxWidth {
            .navbar-title-top, .navbar-title-top-short,
            .navbar-title-bottom, .navbar-title-bottom-short {
                display: none !important;
            }
        }
    } // End .navbar-brand

    // New styles for the right side of the navbar
    .navbar-nav {
        .navbar-menu-btn, .navbar-social, .navbar-social a {
            min-height: @navbar-min-height !important;
            max-height: @navbar-min-height !important;
            height: @navbar-min-height !important;
            line-height: @navbar-min-height !important;
        }
    } // End .navbar-nav

} // End .minimized-navbar


// Checkbox used to hack a menu on-click without using JavaScript :) (it's hidden offscreen)
#menu-hack {
    display: none;
    position: fixed;
    left: -100%;
}

// When the checkbox is checked, the menu should be open and the navbar gets smaller
#menu-hack:checked + #nav-container {
    // Make changes to the nav-bar
    #nav-bar {
        .minimized-navbar; // Show the minimized navbar state

        // Show 'X' and 'CLOSE' on the menu button
        .navbar-menu-btn {
            &::before {
                content: 'X';
                padding: 0 3px 0 0;
            }
            &::after {
                content: 'CLOSE';
            }
        }
    } // End #nav-bar

    // Show the navigation menu
    #nav-menu {
        left: 0 !important;
    } // End #nav-menu

} // End #menu-hack:checked
