.minimized-navbar {
  min-height: @navbar-min-height !important;
  max-height: @navbar-min-height !important;
  height: @navbar-min-height !important;
  margin-bottom: 85px !important;

  .navbar-text, .navbar-logo {
    height: @navbar-min-height !important;

    img { height: 35px !important; }

    .navbar-title-top, .navbar-title-top-short,
    .navbar-title-bottom, .navbar-title-bottom-short {
      height: @navbar-min-height !important;
      line-height: @navbar-min-height !important;
      vertical-align: middle !important;
    }
    .navbar-title-top, .navbar-title-top-short {
      margin-left: 55px !important;
    }
    .navbar-title-bottom, .navbar-title-bottom-short {
      .margin-linear-50ms;
      margin-left: 0px !important;
    }
    .navbar-title-top, .navbar-title-bottom {
      display: inline-block !important;
    }

    @media @m680pxWidth {
      .navbar-title-top-short, .navbar-title-bottom-short {
        display: inline-block !important;
      }
      .navbar-title-top, .navbar-title-bottom {
        display: none !important;
      }
    }
  }

  .navbar-menu-btn, .nav-bar-social {
    min-height: @navbar-min-height !important;
    max-height: @navbar-min-height !important;
    line-height: @navbar-min-height !important;
    -webkit-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
  }

  @media @m680pxWidth {
    .nav-bar-social a {
      padding: 0 5px !important;
    }
    .navbar-menu-btn {
      padding: 0 15px !important;
    }
  }
}


/* Full Nav Bar */
.full-navbar {
  min-height: @navbar-height;
  max-height: @navbar-height;
  height: @navbar-height;

  .navbar-text, .navbar-logo {
    height: @navbar-height;

    img { height: 70px; }

    .navbar-title-top, .navbar-title-top-short {
      height: 40px;
      line-height: 55px;
      vertical-align: text-bottom;
    }

    .navbar-title-bottom, .navbar-title-bottom-short {
      height: 40px;
      line-height: 35px;
      vertical-align: text-top;
    }

    .navbar-title-top, .navbar-title-bottom {
      display: block;
    }

    @media @m680pxWidth {
      .navbar-title-top-short, .navbar-title-bottom-short {
        display: block;
      }
      .navbar-title-top, .navbar-title-bottom {
        display: none;
      }
    }
  }

  .navbar-menu-btn, .nav-bar-social {
    min-height: @navbar-height;
    max-height: @navbar-height;
    line-height: @navbar-height;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  @media @m680pxWidth {
    .nav-bar-social a {
      padding: 0 5px;
    }
    .navbar-menu-btn {
      padding: 0 15px;
    }
  }
} // End .full-navbar


#menu-hack {
  position:fixed;
  visibility: hidden;
  left: -100%;
}
/* Regular Nav bar */
#menu-hack:not(checked) + #nav-container #nav-bar {
  .full-navbar;
}
/* Minimized Navigation Bar */
#menu-hack:checked + #nav-container #nav-bar {
  .minimized-navbar;
}


#menu-hack:checked + #nav-container #nav-menu {
  left: 0 !important;
}




#nav-bar {
  font-family: @sans-serif;
  letter-spacing: 0.05em;
  .uppercase;
  .full-navbar;

  &.navigation-bar {
    .fixed;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    z-index: 910;
    overflow: hidden;
    .ease-500ms;
  }

  &.full-navbar {
    .full-navbar;
  }
  &.minimized-navbar {
    .minimized-navbar;
  }

  .fluid-nav {
    width: 100%;
    margin: 0 auto;
    .linear-300ms;

    .navbar-logo {
      a::after { display: none !important; }

      img {
        .absolute;
        pointer-events: none;
        left: 0; top: 0;
        margin-top: 5px;
        width: auto;
        display: inline-block;
        .linear-400ms;
      }

      .navbar-text {
        display: inline-block;
        overflow: hidden;
        font-weight: 500;
        font-size: 2.1em !important;

        &:hover, &:focus {
          .color-linear-200ms;
        }

        .navbar-title-top, .navbar-title-top-short,
        .navbar-title-bottom, .navbar-title-bottom-short {
            display: none;
            width: auto;
            .uppercase;
            text-align: left;
            margin-left: 100px;
            .margin-linear-500ms;
        }

        @media @m480pxWidth {
          .navbar-title-top, .navbar-title-top-short,
          .navbar-title-bototm, .navbar-title-bottom-short {
            display: none !important;
          }

          img {
            position: relative !important;
          }
        }
      }
    } // End .navbar-logo

    .navbar-menu-btn {
      font-size: 1.65em;
      text-align: center;
      display: inline-block;
      width: auto;
      .cursor-pointer;
      right: 0px;
      z-index: 999999999;
      .ease-500ms;
      padding: 0 36px;
      vertical-align: middle;
      color: @font-light-color;

      &:hover, &:focus {
        -webkit-transition: background 0.2s linear, opacity 0.2s linear;
        transition: background 0.2s linear, opacity 0.2s linear;
      }

      &::before {
        content: '\2261';
        margin-right: 10px;
      }
      &.close::before {
        content: 'X';
      }
      .close-text { display: none; }
      &.close .regular-text { display: none; }
      &.close .close-text { display: inline; }
    } // End .navbar-menu-btn

    .nav-bar-social {
      display: inline-block;
      vertical-align: middle;

      a {
        padding: 0 15px;
      }
      .cursor-pointer;
      .ease-500ms;

      &:hover, &:focus {
        -webkit-transition: background 0.2s linear, opacity 0.2s linear;
        transition: background 0.2s linear, opacity 0.2s linear;
      }

    } // End .nav-bar-social


  } // End .fluid-nav


}
